body {
	min-width: 900px;
	margin: 0;
	padding: 0;
	
	font-weight: 500;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;

	background-color: #849d8f;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.main-container {
	min-width: 900px;
	max-width: 1200px;
	min-height: 881px;
	margin: 0 auto;
	padding: 0 20px;
	
	background-image: url("../img/backlight.png");
	background-repeat: no-repeat;
	background-position: top center;
}

.nav-btn {
	display: inline-block;
	box-sizing: border-box;
	height: 32px;
	padding: 0;

	vertical-align: top;

	border: none;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.2);
}

/* HEADER */

.main-nav {
	display: flex;
	justify-content: space-between;
}

.site-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 560px;
	min-height: 73px;
	margin: 0;
	padding: 0;

	list-style: none;
}

.site-nav .logo-link {
	display: inline-block;
	margin-top: 9px;

	border-bottom: none;
}

.site-nav .logo-link::after {
	content: none;
}

.site-nav a {
	position: relative;

	display: inline-block;
	padding: 6px 13px;

	font-weight: 700;
	line-height: 18px;
	color: #ffffff;
	text-decoration: none;
}

.site-nav a::after {
	position: absolute;
	bottom: 6px;
	left: 13px;
	right: 13px;
	
	height: 1px;

	background-color: #b2cabd;

	content: "";
}

.site-nav .logo-link:hover,
.site-nav .logo-link:focus,
.site-nav .logo-link:active {
	background-color: transparent;
	box-shadow: none;
}

.site-nav a:hover,
.site-nav a:focus {
	color: #333333;

	background-color: #f7f6f3;
	border-radius: 15px;
}

.site-nav a:active {
  box-shadow: inset 0px 1px 2px 0px rgba(105, 105, 105, 0.9);
}

.site-nav a:hover::after,
.site-nav a:focus::after {
	content: none;
}

.site-nav .current {
	background-color: #d07058;
	border-radius: 15px;
}

.site-nav .current::after {
	content: none;
}

.site-nav .current:hover,
.site-nav .current:active,
.site-nav .current:focus {
	color: #ffffff;

	background-color: #d07058;
	box-shadow: none;
}

.site-nav .new-item {
	position: relative;

	margin-top: 3px;
	padding-bottom: 3px;
}

.site-nav .new-item:hover > .drop-down  {
	display: block;
}

.drop-down {
	position: absolute;
	left: -7px;
	bottom: -155px;

	display: none;
	width: 140px;
	padding: 0;

	box-shadow: 0px 20px 20px 3px rgba(0, 0, 0, 0.4);

	list-style: none;
}

.drop-down a {
	display: block;
	padding-left: 21px;

	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #323232;

	background-color: #f8f7f4;
}


.drop-down li:last-child a {
	padding-bottom: 12px;

	border-radius: 0 0 5px 5px;
}

.drop-down li:last-child .current:hover,
.drop-down li:last-child .current:focus {
	border-radius: 0 0 5px 5px;
}
 
.drop-down a::after {
	content: none;
}

.drop-down a:hover,
.drop-down a:focus {
	background-color: #fbded7;
	border-radius: 0;
}

.drop-down a:active {
	background-color: #f6b5a5;
	box-shadow: none;
}

.drop-down .new {
	position: relative;

	padding-top: 9px;
	padding-bottom: 12px;

	border-radius: 5px 5px 0 0;
	font-weight: 700;
}

.drop-down .new::after {
	position: absolute;
	bottom: 0;
	left: 7px;
	right: 7px;
	
	height: 1px;

	background-color: #d1d0ce;

	content: "";
}

.drop-down .new:hover,
.drop-down .new:focus {
	border-radius: 5px 5px 0 0;
}

.drop-down .new:hover::after {
	position: absolute;
	bottom: 0;
	left: 7px;
	right: 7px;
	
	height: 1px;

	background-color: #d1d0ce;

	content: "";
}

.drop-down .current {
	color: #ffffff;

	background-color: #d07058;
	border-radius: 0;
}

.drop-down .current:hover,
.drop-down .current:focus {
	background-color: #d07058;
	border-radius: 0;
}

.drop-down .new.current {
	border-radius: 5px 5px 0 0;
}

.search-btn {
	padding: 0 8px;
}