body {
	min-width: 900px;
	margin: 0;
	padding: 0;
	
	font-weight: 500;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;

	background-color: #849d8f;
}

.text-input {
	box-sizing: border-box;
	width: 311px;
	height: 44px;
	padding-left: 15px;

	font-size: 16px;
	line-height: 24px;
	color: #323232;

	border: 1px solid #d3d3d2;
	border-radius: 5px;
}



.text-input:hover {
	border: 2px solid #c7c6c5;
}

.text-input:focus {
	border: 2px solid #8fbdec;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.main-container {
	min-width: 900px;
	max-width: 1200px;
	min-height: 881px;
	margin: 0 auto;
	padding: 0 20px;
	
	background-image: url("../img/backlight.png");
	background-repeat: no-repeat;
	background-position: top center;
}

.nav-btn {
	display: inline-block;
	box-sizing: border-box;
	height: 32px;
	padding: 0;

	vertical-align: top;

	border: none;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.2);
}

.btn {
	display: inline-block;
	box-sizing: border-box;
	height: 44px;
	padding: 0;
	
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	vertical-align: top;
	color: #fefefe;

	border: none;
	background-color: #ed5a3d;
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.7);
}

.btn:hover,
.btn:focus {
    background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
}

.btn:active {
  background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.7);
}



/* HEADER */

.main-nav {
	display: flex;
	justify-content: space-between;
}

.site-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 560px;
	min-height: 73px;
	margin: 0;
	padding: 0;

	list-style: none;
}

.site-nav .logo-link {
	display: inline-block;
	margin-top: 9px;

	border-bottom: none;
}

.site-nav .logo-link::after {
	content: none;
}

.site-nav a {
	position: relative;

	display: inline-block;
	padding: 6px 13px;

	font-weight: 700;
	line-height: 18px;
	color: #ffffff;
	text-decoration: none;
}

.site-nav a::after {
	position: absolute;
	bottom: 6px;
	left: 13px;
	right: 13px;
	
	height: 1px;

	background-color: #b2cabd;

	content: "";
}

.site-nav .logo-link:hover,
.site-nav .logo-link:focus,
.site-nav .logo-link:active {
	background-color: transparent;
	box-shadow: none;
}

.site-nav a:hover,
.site-nav a:focus {
	color: #333333;

	background-color: #f7f6f3;
	border-radius: 15px;
}

.site-nav a:active {
  box-shadow: inset 0px 1px 2px 0px rgba(105, 105, 105, 0.9);
}

.site-nav a:hover::after,
.site-nav a:focus::after {
	content: none;
}

.site-nav .current {
	background-color: #d07058;
	border-radius: 15px;
}

.site-nav .current::after {
	content: none;
}

.site-nav .current:hover,
.site-nav .current:active,
.site-nav .current:focus {
	color: #ffffff;

	background-color: #d07058;
	box-shadow: none;
}

.site-nav .new-item {
	position: relative;

	margin-top: 3px;
	padding-bottom: 3px;
}

.site-nav .new-item:hover > .drop-down,
.site-nav .new-item a:focus + .drop-down  {
	display: block;
}

.drop-down {
	position: absolute;
	left: -7px;
	bottom: -155px;

	display: none;
	width: 140px;
	padding: 0;

	box-shadow: 0px 20px 20px 3px rgba(0, 0, 0, 0.4);

	list-style: none;
}

.drop-down a {
	display: block;
	padding-left: 21px;

	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #323232;

	background-color: #f8f7f4;
}


.drop-down li:last-child a {
	padding-bottom: 12px;

	border-radius: 0 0 5px 5px;
}

.drop-down li:last-child .current:hover,
.drop-down li:last-child .current:focus {
	border-radius: 0 0 5px 5px;
}
 
.drop-down a::after {
	content: none;
}

.drop-down a:hover,
.drop-down a:focus {
	background-color: #fbded7;
	border-radius: 0;
}

.drop-down a:active {
	background-color: #f6b5a5;
	box-shadow: none;
}

.drop-down .new {
	position: relative;

	padding-top: 9px;
	padding-bottom: 12px;

	border-radius: 5px 5px 0 0;
	font-weight: 700;
}

.drop-down .new::after {
	position: absolute;
	bottom: 0;
	left: 7px;
	right: 7px;
	
	height: 1px;

	background-color: #d1d0ce;

	content: "";
}

.drop-down .new:hover,
.drop-down .new:focus {
	border-radius: 5px 5px 0 0;
}

.drop-down .new:hover::after {
	position: absolute;
	bottom: 0;
	left: 7px;
	right: 7px;
	
	height: 1px;

	background-color: #d1d0ce;

	content: "";
}

.drop-down .current {
	color: #ffffff;

	background-color: #d07058;
	border-radius: 0;
}

.drop-down .current:hover,
.drop-down .current:focus {
	background-color: #d07058;
	border-radius: 0;
}

.drop-down .new.current {
	border-radius: 5px 5px 0 0;
}



.search-container {
	position: relative;
	padding-bottom: 7px;
}

.search-container:hover > .search-btn,
.search-btn:focus {
	background-color: #f8f7f4;
	background-image: url("../img/search-btn-hover.png");
}

.search-container:hover > .search-form,
.search-btn:focus ~ .search-form  {
	display: flex;
}

.search-btn {
	width: 32px;

	background-image: url("../img/search-btn.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.search-form {
	position: absolute;
	top: 38px;
	left: -309px;
	
	display: none;
	justify-content: center;
	align-items: center;
	width: 340px;
	height: 84px;

	background-color: #f8f7f4;
	border-radius: 5px;
  	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.login-btn {
	position: relative;

	width: auto;
	padding-top: 8px;
	padding-left: 44px;
	padding-right: 16px;

	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	text-decoration: none;

	border-radius: 15px;
}

.login-btn::before {
	position: absolute;
	top: 7px;
	left: 16px;
	
	width: 20px;
	height: 19px;

	background-image: url("../img/login-btn.svg");

	content: "";
}

.login-container:hover > .login-btn::before {
	background-image: url("../img/login-btn-hover.png");
}

.login-btn:focus::before {
	background-image: url("../img/login-btn-hover.png");
}


.login-container:hover > .login-btn {
	color: #323232;

	background-color: #f8f7f4;
}

.login-btn:focus {
	color: #323232;

	background-color: #f8f7f4;
}

.login-container {
	position: relative;

	padding-bottom: 4px;
}

.login-container:hover > .login-form {
	display: block;
}

.login-btn:focus + .login-form {
	display: block;
}

.login-form {
	position: absolute;
	top: 36px;
	left: -181px;
	
	display: none;
	width: 277px;
	height: 214px;
	
	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.login-input-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 108px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.login-email {
	width: 240px;
}

.login-password {
	width: 240px;
}

.login-btn-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 240px;
	height: 66px;
	margin: 0 auto;
}

.btn-submit-login {
	padding: 0 25px;

	border-radius: 16px/22px;
}

.login-links-container {
	display: flex;
	flex-direction: column;
	margin: 0;
}

.login-links-container a {
	font-weight: 400;
	font-size: 13px;
	line-height: 19px;
	text-decoration: underline;
	color: #323232;
}

.login-links-container a:hover,
.login-links-container a:focus {
	color: #e84d37;
}

.login-links-container a:active {
	color: #e84d37;
}

.backet-container {
	position: relative;

	padding-bottom: 4px;
}

.backet-btn {
	position: relative;

	width: auto;
	padding-top: 8px;
	padding-left: 45px;
	padding-right: 34px;

	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	text-decoration: none;

	border-radius: 15px;
}

.backet-btn::before {
	position: absolute;
	top: 7px;
	left: 16px;
	
	width: 21px;
	height: 20px;

	background-image: url("../img/backet.svg");

	content: "";
}

.backet-container:hover .backet-btn {
	color: #323232;
	background-color: #f7f6f3;
}

.backet-container:hover .backet-btn::before {
	background-image: url("../img/backet-hover.png");
}

.backet-form {
	position: absolute;
	top: 36px;
	right: 0px;

	width: 540px;
	min-height: 115px;

	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.backet-list {
	margin: 0 auto;
	padding-bottom: 18px;
	width: 501px;
	border-bottom: 1px solid #cacac7;
}

.backet-list td {
	padding: 0;
}

.backet-list .backet-item {
	min-height: 33px;
}

.backet-list .delete {
	vertical-align: top;
	padding-top: 18px;
}

.backet-list .delete-item {
	position: relative;
	display: inline-block;

	width: 11px;
	height: 11px;
	
	background: none;
	border: none;
}

.backet-list .delete-item::before {
	position: absolute;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 1px;

	background-color: #231f20;

	transform: rotate(-45deg);
	content: "";
}

.backet-list .delete-item::after {
	position: absolute;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 1px;

	background-color: #231f20;

	transform: rotate(45deg);
	content: "";
}

.backet-list .image-item {
	vertical-align: top;
	padding-top: 15px;
} 

.backet-list .image-wrapper {
	width: 33px;
	height: 33px;
	margin: 0;
	margin-left: 4px;
}

.backet-list .image-wrapper img {
	width: 100%;
	height: auto;

	border-radius: 50%;
}


.backet-list .name-of-item {
	max-width: 230px;
	padding-top: 23px;
	padding-left: 10px;

	font-size: 13px;
	line-height: 16px;
	color: #323232;
	vertical-align: top;
}

.backet-list .weight-and-price {
	max-width: 115px;
	padding-top: 19px;
	padding-left: 15px;
	vertical-align: top;
}

.backet-list .weight {
	display: inline-block;
	font-size: 13px;
	line-height: 16px;
	color: #323232;
}

.backet-list .price-for-weight {
	display: inline-block;
	font-size: 13px;
	line-height: 16px;
	color: #999999;
}

.backet-list .total-price {
	max-width: 68px;
	padding-left: 15px;
	padding-top: 23px;


	font-size: 13px;
	line-height: 16px;
	color: #323232;
	vertical-align: top;
}

.price-for-all {
	margin: 0;
	margin-top: 13px;
	padding-right: 21px;

	text-align: end;

	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	color: #323232;
}

.backet-btn-order-container {
	display: flex;
}

.backet-order-btn {
	margin-left: auto;
	margin-top: 18px;
	margin-bottom: 20px;
	margin-right: 22px;
	padding-left: 15px;
	padding-right: 15px;

	border-radius: 16px/22px;
}